.area{
    padding: 0px;
    margin-bottom: 7px;
    -webkit-box-shadow:0px 3px 3px #c8c8c8;
    -moz-box-shadow:0px 3px 3px #c8c8c8;
    box-shadow:0px 3px 3px #c8c8c8;
}
.a-color{
    color: #0f0f0f;
}
a:hover{
    text-decoration: none;
    color: red;
}
.head_area{
    margin-top: 0px;
    margin-bottom: 5px;
}
.aside-title{
    margin: 0px;
    padding: 16px 16px 0;
    font-size: 14px;
    color: black;
    font-family: "Microsoft YaHei UI";
    font-weight: 700;
}
.aside-content{
    padding: 16px 16px 10px 16px;
}
.count{
    font-size: 12px;
    color: #858585;
    margin-top: 5px;
    margin-bottom: 5px;
}
.article:hover{
    background-color: whitesmoke;
}
.post-item{
    padding: 2px;
}
.article-info{
    color: #858585;
    font-family: "Microsoft YaHei UI";
    font-size: 14px;
}
span{
    margin-right: 14px;
}
.follow-name{
    margin-right: 14px;
}
.comment-content{
    display: block;
    width: 100%;
    padding: 7px 8px;
    background-color: #fff;
    border: 1px solid #5e5e5e;
    border-radius: 4px;
    resize: none;
    height: 64px;
    font-size: 14px;
    line-height: 22px;
    transition:height .3s ease-in-out;
}
.btn-comment{
    margin-top: 8px;
    margin-left: 16px;
}
.opt-box{
    vertical-align: top;
    display: inline-block;
}
.reply{
    /*display: none;*/
    margin: 0;
    min-width: auto;
    font-size: 12px;
    height: 20px;
    line-height: 20px;
}
.profile-intro{
    padding: 16px 16px;
    border-bottom: 1px solid #e3e3e3;
}
.d-flex{
    display: -webkit-box !important;
    display: flex !important;
}
.avatar-box{
    position: relative;
    width: 48px;
    height: 48px;
    -webkit-box-pack: center !important;
    justify-content: center !important;
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
    flex-direction: column !important;
    display: flex !important;
}
.auth-name{
    margin-left: 8px;
    width: 156px;
    display: -webkit-box !important;
    display: flex !important;
    -webkit-box-pack: center !important;
    -ms-flex-pack: center !important;
    justify-content: center !important;
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
    -ms-flex-direction: column !important;
    flex-direction: column !important;
}
.p-name{
    font-family: "Microsoft YaHei UI";
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: 700;
}
.data-info{
    padding: 16px 10px 10px 10px;
    border-bottom: 1px solid #e3e3e3;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    height: 70px;
    width: 100%;
}
.count{
    font-size: 14px;
    font-weight: 700;
    font-family: "Microsoft YaHei UI";
    margin-right: 3px;
    margin-top: 10px;
}
dl{
    width: 70px;
    height: 22px;
}
.info-block{
    margin-bottom: 7px;
}
.snap-btn{
    color: red;
}