{% extends "blog/base.html" %}
{% load comment_block %}
{% block main %}
    <ul class="list-group">
        <li class="list-group-item">
            <h1>{{ post.title }}</h1>
            <div class="article-info">
                <span>{{ post.created_time }}</span>
                <a href="{% url 'post:post-list' post.owner.userinfo.name %}" class="follow-name">{{ post.owner.userinfo.name }}</a>
                <span>阅读数 {{ post.uv }}</span>
            </div>

        </li>
        <li class="list-group-item">
            <article>
                {{ post.content_html|safe }}
            </article>
        </li>
        {% comment_block post.id %}
    </ul>
{% endblock %}
{% block extra_script %}
<script>
    $('.reply').click(function () {
        var id = $(this).attr('name')
        var reply_to = $(this).attr('reply_to')
        $('#id_parent').attr('value', id)
        $('#id_reply_to').attr('value', reply_to)
        $('#cancel').removeClass('hidden')
        $('#id_content').attr('placeholder', '想对 '+ reply_to + ' 说什么')
    })
    $('#cancel').click(function () {
        var reply_to = $('.follow-name').text()
        $('#id_parent').attr('value', '')
        $('#id_reply_to').attr('value', reply_to)
        $('#id_content').attr('placeholder', '想对作者说什么')
        $(this).addClass('hidden')
    })
</script>
{% endblock %}

